<div class="header">
  <div>
    <div class="name">{{ memo.name }}</div>
    <ng-container *ngFor="let tag of memo.tags">
      <memo-tag-card>{{ tag }}</memo-tag-card>
    </ng-container>
  </div>
  <div class="icons">
    <fa-icon class="icon" shakeScaleHover [icon]="['fas', 'pencil-alt']" size="lg" (click)="editMemo(memo)"></fa-icon>
    <fa-icon class="icon" shakeScaleHover [icon]="['far', 'trash-alt']" size="lg" (click)="deleteMemo(memo)"></fa-icon>
  </div>
</div>
<div class="content">
  <div>{{ memo.description }}</div>
</div>
<div class="footer">
  <div class="date">Ajouté le {{ memo.creationDate | date: 'dd/MM/yyyy' }}</div>
  <div>New</div>
</div>