<memo-modal>
  <h1>Créer un memo</h1>
  <form [formGroup]="form"
        (keydown.enter)="$event.preventDefault()">
    <label>
      <div>Nom</div>
      <input formControlName="name">
      <div *ngIf="form.get('name').invalid && form.get('name').touched">Ce champ est requis</div>
    </label>
    <label>
      <div>Description</div>
      <input formControlName="description">
    </label>
    <div>
      <div>Tags</div>
      <input #tagInput
             (keydown.enter)="addTag(tagInput)">
      <button type="button"
              (click)="addTag(tagInput)">Ajouter</button>
      <ul>
        <li *ngFor="let tag of form.get('tags').value">{{ tag }}</li>
      </ul>
    </div>
    {{ form.value | json }}
    <button *ngIf="!memoToUpdate"
            (click)="addMemo()"
            (keydown.enter)="addMemo()"
            [disabled]="form.invalid">Créer</button>
    <button *ngIf="memoToUpdate"
            (click)="updateMemo()"
            (keydown.enter)="updateMemo()"
            [disabled]="form.invalid || !form.dirty">Modifier</button>
    <button type="button"
            (click)="closeModal()"
            (keydown.enter)="closeModal()">Fermer</button>
  </form>
</memo-modal>