<memo-modal>
  <h1>Créer un memo</h1>
  <form [formGroup]="form"
        (ngSubmit)="submit(form.value)"
        (keydown.enter)="$event.preventDefault()">
    <label>
      <div>Nom</div>
      <input formControlName="name">
      <div *ngIf="form.get('name').invalid && form.get('name').touched">Ce champ est requis</div>
    </label>
    <label>
      <div>Description</div>
      <input formControlName="description">
    </label>
    <div>
      <div>Tags</div>
      <input #tagInput
             (keydown.enter)="addTag(tagInput)">
      <button type="button"
              (click)="addTag(tagInput)">Ajouter</button>
      <ul>
        <li *ngFor="let tag of form.get('tags').value">{{ tag }}</li>
      </ul>
    </div>
    {{ form.value | json }}
    <button type="submit"
            [disabled]="form.invalid">Créer</button>
    <button type="button"
            (click)="closeModal()">Fermer</button>
  </form>
</memo-modal>